table, th, td {
    border: 1px solid black;
}

#khung {
    width: 900px;
    margin: 30px auto 30px auto;
    padding: 10px;
    background-color: darkgrey;
    border-radius: 10px;
}


.tieude h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

table{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

table tr td{
    padding: 5px 10px;
}